<footer class="w3-center w3-black w3-padding-16">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp">w3.css</a>, <a href="https://pages.github.com/">GitHub Pages</a>, <a href="https://designapp.io/">designapp.io</a>, and <a href="https://fontawesome.com">FontAwesome</a>.</p> 
</footer>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navbar");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>