<head>
    <title>ErickMcCollum.com | {{ page.title }}</title>
    <meta name="description" content="Welcome to my personal website! I hope you enjoy the content, and please feel free to check back regularly for more.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="9DF9070C978838240D90F72307A75AE8" />
    <meta name="google-site-verification" content="Y7Zt0RhuROza3esqs8FCUabqVkC-APoo-4LNwWkdQGA" />
    <link rel="icon" href="/data/images/my_FavIcon.png" type="image/png">
    <link rel="apple-touch-icon" href="/data/images/my_FavIcon.png" type="image/png">
    <link rel="stylesheet" href="/data/third-party/w3.css-4/w3.css">
    <link rel="stylesheet" href="/data/third-party/w3.css-4/w3-colors-metro.css">
    <link rel="stylesheet" href="/data/third-party/fontawesome-free-5.12.0-web/css/fontawesome.css">
    <link rel="stylesheet" href="/data/third-party/fontawesome-free-5.12.0-web/css/solid.css">
    <link rel="stylesheet" href="/data/third-party/fontawesome-free-5.12.0-web/css/brands.css">
</head>