<div class="w3-bar w3-deep-purple w3-card w3-large">
    <a href="/" class="w3-bar-item w3-button w3-mobile" style="width:20%"><i class="fa fa-home"></i>Home</a>
    <a href="/blog/" class="w3-bar-item w3-button w3-mobile" style="width:20%"><i class="fa fa-book"></i> Posts / Projects</a>
    <a href="https://github.com/frederickm13" class="w3-bar-item w3-button w3-mobile" style="width:20%"><i class="fa fa-code"></i> GitHub</a>
    <a href="https://www.linkedin.com/in/frederick-erick-mccollum-604184104" class="w3-bar-item w3-button w3-mobile" style="width:20%"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
    <a href="/about/" class="w3-bar-item w3-button w3-mobile" style="width:20%"><i class="fa fa-address-card"></i> About</a>
</div>