---
layout: Base
---

{{ content }}

<ul id="articles-list" style="list-style-type: none;" class="px-0 mx-0">
    {% for post in site.posts %}
        {% if post.type == page.type or page.type == "search" %}
            <li class="py-1">
                <a href="{{ post.url }}">
                    <h4>{{ post.title }}</h4>
                </a> 
                <p><span class="text-muted">{{ post.date | date_to_string }}</span> {{ post.excerpt }}</p>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% if page.type == "search" %}
    <script src="/assets/scripts/search.js"></script>
{% endif %}