<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | ErickMcCollum.com</title>

        <!-- Meta Tags -->
        <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{page.excerpt}}{% else %}{{ site.description }}{% endif %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msvalidate.01" content="9DF9070C978838240D90F72307A75AE8" />
        <meta name="google-site-verification" content="Y7Zt0RhuROza3esqs8FCUabqVkC-APoo-4LNwWkdQGA" />

        <!-- OpenGraph Meta Tags-->
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | ErickMcCollum.com"/>
        <meta property="og:image" content="https://www.erickmccollum.com/assets/images/WebsiteLogo.png"/>
        <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}ErickMcCollum.com{% endif %}"/>
        <meta property="og:url" content="{% if page.url %}https://erickmccollum.com{{ page.url }}{% else %}https://erickmccollum.com{% endif %}"/>

        <!-- Linked Resources -->
        <link rel="icon" href="/assets/images/my_FavIcon.png" type="image/png">
        <link rel="shortcut icon" href="/assets/images/my_FavIcon.png" type="image/png">
        <link rel="apple-touch-icon" href="/assets/images/my_FavIcon.png" type="image/png">
        <link rel="stylesheet" href="/assets/third-party/bootstrap-4.5.3-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/third-party/fontawesome-free-5.12.0-web/css/fontawesome.css">
        <link rel="stylesheet" href="/assets/third-party/fontawesome-free-5.12.0-web/css/solid.css">
        <link rel="stylesheet" href="/assets/third-party/fontawesome-free-5.12.0-web/css/brands.css">
        <link rel="stylesheet" href="/assets/style/main.css">
    </head>

    <body>
        <div class="nav justify-content-end bg-dark p-3">
            <a href="/" class="navbar-brand text-monospace text-light"><span class="font-weight-bold">ErickMcCollum</span><span class="font-weight-light">.com</span></a>
        </div>

        <div class="container">            
            <div class="row">
                <div class="col-md-3 py-3 border-right border-dark">
                    <nav>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/posts">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/assets/pdf/FM_Resume.pdf">Resumé</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="row py-3 text-center">
                        <div class="col">
                            <a href="https://www.linkedin.com/in/erick-mccollum"><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                        <div class="col">
                            <a href="https://github.com/frederickm13"><i class="fab fa-github fa-2x"></i></a>
                        </div>
                        <div class="col">
                            <a href="https://stackoverflow.com/users/15205828/frederickm13"><i class="fab fa-stack-overflow fa-2x"></i></a>
                        </div>
                        <div class="col">
                            <a href="mailto:fgmccollum4@gmail.com"><i class="fas fa-envelope-square fa-2x"></i></a>
                        </div>
                    </div>
                    <div>
                        <form id="search-form" action="/posts" method="get" class="form-inline">
                            <div class="input-group">
                                <input type="text" id="search-input" name="search" placeholder="Search content..." class="form-control">
                                <div class="input-group-append">
                                    <input type="submit" value="Search" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-9 py-3">
                    <main>
                        {{ content }}
                    </main>
                </div>
            </div>
        </div> 

        <footer class="bg-dark p-3 text-center text-light">
            <p>This site is powered by <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://pages.github.com/">GitHub Pages</a>, <a href="https://designapp.io/">designapp.io</a>, and <a href="https://fontawesome.com">FontAwesome</a>.</p>
            <p>Copyright &copy; ErickMcCollum.com 2019 | <a href="https://github.com/frederickm13/frederickm13.github.io/blob/master/LICENSE">License</a> | <a href="/terms-conditions/">Terms & Conditions</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/disclaimer/">Disclaimer</a></p>
        </footer>
    </body>

</html>
