---
layout: Base
---
<!-- Navbar (sit on top) -->
{% include navbar.html %}

<!-- Header -->
<header class="w3-content" style="max-width:1500px;" id="home">
<img class="w3-image w3-hide-small" src="/data/images/ErickAndDog2.jpg" alt="Erick and his dog." width="1500">
<img class="w3-image w3-hide-medium w3-hide-large" src="/data/images/ErickAndDog.jpg" alt="Erick and his dog." style="width:100%;max-width:1500px">
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1500px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32 w3-card w3-margin w3-white" id="projects">
        <h2 class="w3-border-bottom w3-border-grey w3-padding-16">Featured Posts & Projects</h2>
        {% for post in site.posts %}
            {% if post.featured == 1 %}
                {% assign post_1 = post %}
            {% endif %}
            {% if post.featured == 2 %}
                {% assign post_2 = post %}
            {% endif %}
            {% if post.featured == 3 %}
                {% assign post_3 = post %}
            {% endif %}
            {% if post.featured == 4 %}
                {% assign post_4 = post %}
            {% endif %}
        {% endfor %}
        <div class="w3-row-padding">
            <div class="w3-col m6">
                <a href="{{ post_1.url }}" class="w3-hover-text-grey"><h4>{{ post_1.title }}</h4></a>
                <p>{{ post_1.excerpt }}</p>
            </div>
            <div class="w3-col m6">
                <a href="{{ post_2.url }}" class="w3-hover-text-grey"><h4>{{ post_2.title }}</h4></a>
                <p>{{ post_2.excerpt }}</p>
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col w3-border-grey m6">
                <a href="{{ post_3.url }}" class="w3-hover-text-grey"><h4>{{ post_3.title }}</h4></a>
                <p>{{ post_3.excerpt }}</p>
            </div>
            <div class="w3-col m6">
                <a href="{{ post_4.url }}" class="w3-hover-text-grey"><h4>{{ post_4.title }}</h4></a>
                <p>{{ post_4.excerpt }}</p>
            </div>
        </div>
        
        <br>
        <div class="w3-center">
            <a href="/blog/" class="w3-button w3-border w3-border-grey w3-light-grey w3-round-xlarge w3-hover-border-light-grey w3-block">View All</a>
        </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-card w3-margin w3-white" id="about">
        <h2 class="w3-border-bottom w3-border-grey w3-padding-16">About</h2>
        <div class="w3-row-padding">
            <div class="w3-col w3-center l4">
                <img class="w3-image w3-round" src="/data/images/profileheadshot.png" alt="Profile picture." style="width:100%;max-width:400px">
            </div>
            <div class="w3-col l8">
                {{ content }}
                <div class="w3-center w3-row-padding">
                    <div class="w3-col m6">
                        <a href="https://www.linkedin.com/in/erick-mccollum" class="w3-button w3-border w3-border-grey w3-light-grey w3-round-xlarge w3-hover-border-light-grey w3-block"><i class="fab fa-linkedin"></i> View LinkedIn</a>
                    </div>
                    <div class="w3-col m6">
                        <a href="/data/files/FM_Resume.pdf" class="w3-button w3-border w3-border-grey w3-light-grey w3-round-xlarge w3-hover-border-light-grey w3-block"><i class="fas fa-file-pdf"></i> View Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32 w3-card w3-margin w3-white" id="contact">
        <h2 class="w3-border-bottom w3-border-grey w3-padding-16">Contact</h2>
        <div class="w3-row-padding">
            <a href="https://www.linkedin.com/in/erick-mccollum">
                <div class="w3-col m3 s6 w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fab fa-linkedin fa-3x"></i>
                    <p>LinkedIn</p>
                </div>
            </a>
            <a href="https://github.com/frederickm13">
                <div class="w3-col m3 s6 w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fab fa-github-square fa-3x"></i>
                    <p>GitHub</p>
                </div>
            </a>
            <a href="mailto:fgmccollum4@gmail.com">
                <div class="w3-col m3 s6 w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fas fa-envelope-square fa-3x"></i>
                    <p>Email</p>
                </div>
            </a>
            <a href="https://www.facebook.com/erick.mccollum">
                <div class="w3-col m3 s6 w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fab fa-facebook-square fa-3x"></i>
                    <p>Facebook</p>
                </div>
            </a>
        </div>
    </div>

<!-- End page content -->
</div>