---
layout: Base
---
<!-- Navbar (sit on top) -->
{% include navbar.html %}

<!-- Page content -->
<main class="w3-content w3-padding" style="max-width:1500px">

    <!-- About Section -->
    <div class="w3-container w3-section w3-padding-16 w3-card w3-white" id="about">
        <h1 class="w3-border-bottom w3-border-grey">About Me</h1>
        <div class="w3-row-padding">
            <div class="w3-col w3-center l4 w3-padding-16">
                <img class="w3-image w3-round-xlarge" src="/data/images/profileheadshot.png" alt="Profile picture - Erick McCollum" style="width:100%;max-width:400px">
            </div>
            <div class="w3-col l8">
                {{ content }}
                <hr>
                <div class="w3-center w3-row-padding">
                    <div class="w3-col m6 w3-section">
                        <a href="https://www.linkedin.com/in/erick-mccollum" class="w3-button w3-border w3-border-grey w3-light-grey w3-round-xlarge w3-hover-border-light-grey w3-block"><i class="fab fa-linkedin"></i> View LinkedIn</a>
                    </div>
                    <div class="w3-col m6 w3-section">
                        <a href="/data/files/FM_Resume.pdf" class="w3-button w3-border w3-border-grey w3-light-grey w3-round-xlarge w3-hover-border-light-grey w3-block"><i class="fas fa-file-pdf"></i> View Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blog Section -->
    <div class="w3-container w3-section w3-padding-16 w3-card w3-white" id="blog">
        <h2 class="w3-border-bottom w3-border-grey">Recent Posts</h2>
        <ul class="w3-ul" id="RecentPostsList">
        {% for post in site.posts limit:5 %}
            <li>
                <a href="{{ post.url }}" class="w3-hover-text-grey">{{ post.title }}</a> (<span class="w3-text-dark-grey">{{ post.date | date_to_string: "ordinal", "US" }}</span>)
            </li>
        {% endfor %}
        </ul>
        <div class="w3-center w3-row-padding">
            <div class="w3-col w3-section">
                <a href="/blog/" class="w3-button w3-border w3-border-grey w3-light-grey w3-round-xlarge w3-hover-border-light-grey w3-block">View All</a>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-section w3-padding-16 w3-card w3-white" id="contact">
        <h2 class="w3-border-bottom w3-border-grey">Contact</h2>
        <div class="w3-row-padding w3-center">
            <a href="https://www.linkedin.com/in/erick-mccollum">
                <div class="w3-col m3 s6 w3-section w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fab fa-linkedin fa-3x"></i>
                    <p>LinkedIn</p>
                </div>
            </a>
            <a href="https://github.com/frederickm13">
                <div class="w3-col m3 s6 w3-section w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fab fa-github-square fa-3x"></i>
                    <p>GitHub</p>
                </div>
            </a>
            <a href="mailto:fgmccollum4@gmail.com">
                <div class="w3-col m3 s6 w3-section w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fas fa-envelope-square fa-3x"></i>
                    <p>Email</p>
                </div>
            </a>
            <a href="https://www.facebook.com/erick.mccollum">
                <div class="w3-col m3 s6 w3-section w3-button w3-border w3-border-white w3-round-xlarge">
                    <i class="fab fa-facebook-square fa-3x"></i>
                    <p>Facebook</p>
                </div>
            </a>
        </div>
    </div>

<!-- End page content -->
</main>