---
layout: Base
---

<article>
    <header>
        <h1>{{ page.title }}</h1> 
        <p class="text-secondary font-italic">Erick McCollum | {{ page.date | date_to_string: "ordinal", "US" }}</p>
    </header> 

    <div>
        {% include disclaimer.html %}
        {{ content }}
        <div class="row py-3 text-center">
            {% if page.downloadable == 1 %}
            <div class="col-sm">
                <a href="{{ page.docurl }}" class=""><i class="fas fa-file-pdf"></i> View PDF File</a>
            </div>
            {% endif %}
            {% if page.external %}
            <div class="col-sm">
                <a href="{{ page.sourceurl }}" class="">
                    {% if page.external == "GitHub" %}
                    <i class="fab fa-github-square"></i> View on GitHub
                    {% endif %}
                    {% if page.external == "LinkedIn" %}
                    <i class="fab fa-linkedin"></i> View on LinkedIn
                    {% endif %}
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</article>